*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/promo/bg_promo.jpg") center center/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.promo__subheader {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 7px;
}
.promo__icons {
  display: flex;
  margin-top: 66px;
  justify-content: space-between;
  width: 425px;
}
.promo__icon {
  width: 106px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 18px;
}
.promo__link a {
  text-decoration: underline;
  display: inline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
  margin-right: -105px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.3;
}
.header__contacts a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.button {
  background-color: #c70101;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.button__header {
  width: 150px;
  height: 30px;
}
.button__main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}
.button__consultation {
  height: 55px;
  font-size: 16px;
}
.button__catalog {
  width: 131px;
  height: 40px;
}

.advantage {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
}
.advantage__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.advantage__card {
  width: 230px;
  text-align: center;
}
.advantage__card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.advantage__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 22px;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase;
}
.title__advantage {
  margin-bottom: 65px;
}
.title__consultation {
  font-size: 36px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 75px;
}
.title__catalog {
  margin-bottom: 65px;
}

.text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
}
.text__advantage a {
  display: inline;
  text-decoration: underline;
  color: #ff0000;
}
.text__card {
  margin-bottom: 17px;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg_consultation.jpg") center center/cover no-repeat;
}
.consultation__descr {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 36px;
}

.feed-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  width: 750px;
  margin: 0 auto;
}
.carousel__inner img {
  display: block;
  margin: 0 auto;
}
.carousel .prev,
.carousel .next {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border: 0;
}
.carousel .next {
  left: auto;
  right: 0px;
}
.carousel .tns-nav {
  text-align: center;
}
.carousel .tns-nav button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: #c70101 solid 1px;
}
.carousel .tns-nav button:not(:last-child) {
  margin-right: 5px;
}
.carousel .tns-nav-active {
  background: #c70101;
}

.catalog {
  padding-bottom: 103px;
}
.catalog__tabs {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 59px;
}
.catalog__tab {
  width: 200px;
  height: 50px;
  border: 2px solid #d0d0d0;
  font-size: 18px;
  text-transform: uppercase;
  color: #6b6b6b;
  text-align: center;
  line-height: 50px;
  transform: skewX(-25deg);
  cursor: pointer;
}
.catalog__tab_active {
  background: #c70101;
  color: #fff;
  border: none;
}
.catalog__tab div {
  transform: skewX(25deg);
}
.catalog__tab:hover {
  box-shadow: 3px 3px 10px #c70101;
  border: none;
}
.catalog__cards {
  display: flex;
  justify-content: space-between;
}
.catalog__cards:not(:last-child) {
  margin-bottom: 20px;
}

.card {
  width: 300px;
  text-align: center;
  border: 2px solid #e8e8e8;
  overflow: hidden;
}
.card__content {
  display: flex;
  width: calc(200% + 20px);
  padding: 18px 22px;
}
.card__front, .card__back {
  width: 50%;
  transition: 0.5s all;
}
.card__front {
  transform: translate(-100%);
}
.card__front_active {
  transform: translateX(0%);
  margin-left: 0;
}
.card__back {
  margin-left: 20px;
  transform: translate(0%);
  display: flex;
  flex-direction: column;
}
.card__back_active {
  transform: translateX(-100%);
  margin-left: 0px;
  padding-right: 20px;
}
.card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.card__subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 16px;
}
.card__link {
  display: inline-block;
  border-bottom: 1px solid #c70101;
  border-bottom-width: inherit;
  color: #c70101;
}
.card__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 19px 27px 19px;
}
.card__wrapper .card__sale {
  text-align: left;
}
.card__wrapper .card__sale_old {
  font-weight: 300;
  color: #555555;
  text-decoration: line-through;
}
.card__wrapper .card__sale_new {
  font-size: 20px;
  font-weight: 700;
  color: #050505;
}
.card__items {
  padding-left: 19px;
  font-weight: 300;
  color: #555555;
  text-align: left;
  position: relative;
  flex: 1 1 auto;
}
.card__items li:not(:last-child) {
  margin-bottom: 20px;
}
.card__items li::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #c70101;
  position: absolute;
  left: 0px;
  margin-top: 5px;
}
.card hr {
  border-top: none;
  width: 260px;
  margin: 0 auto;
  height: 1px;
  background-color: #e8e8e8;
}

@media (max-width: 1024px) {
  .title__consultation,
.consultation__descr {
    text-align: center;
  }
  .feed-form {
    margin: 0 auto;
  }
  .carousel__inner img {
    width: 60%;
  }
  .carousel .prev {
    left: -20px;
  }
  .carousel .next {
    right: -20px;
  }
}
@media (max-width: 768px) {
  .promo {
    background-position: 20% 50%;
  }
  .promo__wrapper {
    align-items: center;
  }
  .promo__icons {
    width: 395px;
  }
  .header {
    justify-content: space-around;
  }
  .header__official {
    display: none;
  }
  .carousel__inner img {
    width: 70%;
    margin-bottom: 10px;
  }
  .carousel .prev,
.carousel .next {
    display: none;
  }
}
@media (max-width: 425px) {
  .promo {
    background-position: 30% 50%;
  }
  .promo__wrapper {
    text-align: center;
  }
  .promo__header {
    font-size: 33px;
  }
  .header {
    flex-direction: column;
    align-items: inherit;
    padding: 0 10px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__contacts a {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .header__contacts .button {
    width: 190px;
    height: 42px;
    font-size: 16px;
  }
  .advantage__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .advantage__card:not(:last-child) {
    margin-bottom: 20px;
  }
  .advantage__card img {
    margin-bottom: 10px;
  }
  .title {
    font-size: 22px;
  }
  .title__consultation {
    margin-bottom: 36px;
  }
  .consultation__descr {
    font-size: 16px;
  }
  .carousel .tns-nav button {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 375px) {
  .promo__icons {
    width: 350px;
  }
  .promo__wrapper {
    text-align: center;
  }
  .promo__header {
    font-size: 28px;
  }
  .promo__subheader {
    font-size: 16px;
  }
  .header__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header__official {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .header__contacts {
    align-items: center;
  }
  .header__contacts a {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .header__contacts .button__header {
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .promo__icons {
    flex-direction: column;
    align-items: center;
  }
  .promo__icon {
    width: 100%;
  }
  .promo__icon:not(:last-child) {
    margin-bottom: 20px;
  }
  .promo__icon img {
    margin-bottom: 10px;
  }
  .promo__header {
    font-size: 24px;
  }
  .header__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header__official {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .header__contacts {
    align-items: center;
  }
  .header__contacts a {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .header__contacts .button__header {
    width: 260px;
    height: 50px;
    font-size: 16px;
  }
  .button__main {
    width: 260px;
    height: 50px;
    font-size: 16px;
  }
  .title__consultation {
    font-size: 18px;
  }
  .consultation__descr {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .feed-form {
    width: 275px;
  }
}