.carousel {
   padding: 81px 0;
   &__inner {
      width: 750px;
      margin: 0 auto;
      // position: relative;
      img {
         display: block;
         margin: 0 auto;
      }
   }
   .prev,
   .next {
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: -66px;
      transform: translateY(-50%);
      border: 0;
   }
   .next {
      left: auto;
      right: -66px;
   }
   .tns-nav {
      text-align: center;
      button {
         width: 15px;
         height: 15px;
         border-radius: 100%;
         border: $main-color solid 1px;
         &:not(:last-child) {
            margin-right: 5px;
         }
      }
      &-active {
         background: $main-color;
      }
   }
}
