.text {
   font-size: 14px;
   line-height: 1.2;
   font-weight: 300;
   color: #0d0d0d;
   &__advantage {
      a {
         display: inline;
         text-decoration: underline;
         color: #ff0000;
      }
   }
   &__card {
      margin-bottom: 17px;
   }
}
